<div id="hero">
  <div class="inner">
    <h1 style="margin: 0 auto;width: 300px;">
      RxJS in action
    </h1>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>简单易用</h2>
      <p>已经了解 HTML, CSS 和 JavaScript？即刻阅读指南，开始构建应用程序！</p>
    </div>

    <div class="point">
      <h2>广泛灵活</h2>
      <p>简单小巧的核心，渐进式技术栈，足以应付任何规模的应用。</p>
    </div>

    <div class="point">
      <h2>性能高效</h2>
      <p>
        20kb min+gzip 运行时大小<br>
        超快虚拟 DOM<br>
        最省心的优化
      </p>
    </div>
  </div>
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
